@page "/plant"
@using MMPD.Data.Models
@using MMPD.Data.Context
@using MMPD.Data.Data
@inject IDirectoryService DirectoryService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Telerik.Blazor.Components
@using Telerik.SvgIcons
@using MMPD.Shared.Components
@using MMPD.Shared.Layout

<PageTitle>Plants</PageTitle>

@if (Plants == null || Plants.Count == 0)
{
    <p>Loading plant data...</p>
}
else
{
    <div class="k-d-grid k-grid-cols-1 k-grid-auto-rows-auto k-bg-dark-subtle">
        <section class="k-row-start-1 k-row-end-3 k-mb--1">
            @* <HeaderCard Info="HeaderCard.HeadInfoCardModel.Plant()" /> *@
            <div class="k-elevation-2">
                <SearchBar />
            </div>
        </section>

        <section class="k-row-start-3 k-row-end-8 no-scrollbar k-px-5 k-mb--0">
            <TelerikListView Data="@Plants" EnableLoaderContainer="true" Class="k-border-transparent k-bg-dark-subtle">
                <Template Context="plant">
                    <NavLink href="@($"/plant/{plant.Id}")" class="link-body-emphasis k-text-no-underline k-shadow">
                        <div class="menu-item k-d-flex k-flex-col k-text-uppercase k-text-white k-justify-content-start k-align-items-start k-px-6 k-bg-gradient k-py-4 hover:k-elevation-2">
                            <div class="text-xl font-semibold">@plant.LocName</div>
                            @* <div class="text-sm">@plant.Address, @plant.City, @plant.State @plant.Zipcode</div>
                            @if (!string.IsNullOrWhiteSpace(plant.PhoneNumber))
                            {
                                <div class="text-sm">Phone: @plant.PhoneNumber</div>
                            }
                            @if (!string.IsNullOrWhiteSpace(plant.LocEmail))
                            {
                                <div class="text-sm">Email: @plant.LocEmail</div>
                            }
                            @if (!string.IsNullOrWhiteSpace(plant.StoreManager))
                            {
                                <div class="text-sm">Manager: @plant.StoreManager</div>
                            } *@
                        </div>
                    </NavLink>
                </Template>
            </TelerikListView>
        </section>

        <section class="k-row-start-8 k-row-end-10 k-z-auto">
            <FooterNav Items="FooterNavItems" />
        </section>
    </div>
}

<style>
    .menu-item {
        background-color: #ff6358;
        margin: 7px 0;
        border-radius: 0.75rem;
    }

        .menu-item:hover {
            transition: transform 0.2s ease-in, opacity 0.2s ease-in;
            transform: translateY(0) scale(0.95);
            background-color: #FA574B;
        }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>

@code {
    private List<Location>? Plants = new();

    private List<FooterNav.FooterItem> FooterNavItems = new()
    {
        new FooterNav.FooterItem(CustomIcons.Home, "Home", "/"),
        new FooterNav.FooterItem(CustomIcons.Corporate, "Corporate", "/corporate"),
        new FooterNav.FooterItem(CustomIcons.MetalMart, "Metal Mart", "/metalmart"),
        new FooterNav.FooterItem(CustomIcons.ServiceCenter, "Service Center", "/servicecenter")
    };

    protected override async Task OnInitializedAsync()
    {
        Plants = await DirectoryService.GetLocationsByTypeAsync("plant");
    }
}
