@page "/"
@using MMPD.Shared.Services
@using MMPD.Shared.Components
@using MMPD.Data.Data
@using MMPD.Data.Models
@inject IDirectoryService DirectoryService
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using Telerik.SvgIcons
@inject NavigationManager NavigationManager
@using Telerik.SvgIcons
@inject IJSRuntime JSRuntime
@inject MMPD.Shared.Services.LayoutState LayoutState


<PageTitle>Employee Directory</PageTitle>

@* @if (Loctypes == null)
{
    <p>Loading...</p>
}
else
{ *@


@* <TelerikStackLayout Height="100vh" Spacing="10px">
    <HeaderComponent Class="header-section" />
    <ListViewComponent Class="content-section" />
    <FooterComponent Class="footer-section" />
</TelerikStackLayout> *@


    <div class=" k-bg-secondary k-w-max k-h-auto">
        @* <section class=" k-mb--1 k-bg-primary">
            <HeaderCard Info="CorporateHeadCard" />
            <div class="k-elevation-2 ">
                <SearchBar ShowBackButton="false" />
            </div>
        </section> *@

        @* <div class="divide divide-none divide-y-2 py-0"></div> *@

        <section class="k-px-5 ">

            <TelerikListView Data="@MenuItems" EnableLoaderContainer="true" Class="  k-border-transparent k-bg-tertiary k-h-screen k-w-screen k-scroll k-overflow-hidden ">
                <Template Context="item">
                    <NavLink href="@item.Path" class="link-body-emphasis k-text-no-underline k-shadow  ">
                        <div class="k-d-flex k-flex-row k-justify-content-start k-align-items-center k-pl-10 menu-item k-bg-gradient k-py-3 k-elevation-1 hover:shadow-lg ">
                            <span class="k-text-uppercase k-text-white " style="font-size: xx-large; font-weight: bold; ">
                                <TelerikSvgIcon Icon="@item.Icon" Size="@ThemeConstants.SvgIcon.Size.ExtraExtraLarge" Class="k-pb-2 k-pl-2 k-me-2" />
                                @item.Label
                            </span>
                        </div>
                    </NavLink>
                </Template>
            </TelerikListView>


            @* <div class="ps-2 py-1 pe-4 pt-2 mt-2 border-4 border-transparent overflow-visible">
                <MainPageMenu />

            </div> *@
        </section>


        @* <section class=" k-z-auto   ">
            <FooterNav Items="FooterNav" />
        </section> *@

    </div>

@* } *@

<style>
    .body {
    /* overflow: hidden; */
    }

    .k-listview {
    background-color: transparent;
    }

    .menu-item {
    background-color: #ff6358;
    margin: 25px 0;
    border-radius: 0.75rem;
    }

    .menu-item:hover {
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    transform: translateY(-0.25rem) scale(1.05);
    /* opacity: 0.9; */
    transform: translateY(0) scale(0.95);
    background-color: #FA574B;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    /* .no-scrollbar::-webkit-scrollbar {
    display: none;
    } */
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
    /* -ms-overflow-style: none; */ /* IE and Edge */
    /* scrollbar-width: none; */ /* Firefox */
    }

</style>

@code {
    private List<Loctype> Loctypes { get; set; } = new();

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     LayoutState.SetHeader(CorporateHeadCard);
    //     LayoutState.SetFooter(FooterNav);
    // }

    private HeaderCard.HeadInfoCardModel CorporateHeadCard = new()
        {
            Title = "Employee Directory",
            Address = "1500 Hamilton Rd",
            City = "Bossier City",
            State = "LA",
            Zip = "71111",
            Subtitle1 = "Corp. Phone",
            Phone = "(888) 245-3696",
            Subtitle2 = "Corp. Email",
            Email = "info@mcelroymetal.com",
            Subtitle3 = "IT Help Desk",
            Phone2 = "(866) 634-5111"
        };


    private class MenuItem
    {
        public ISvgIcon Icon { get; set; }
        public string Label { get; set; }
        public string Path { get; set; }
        public MenuItem(ISvgIcon icon, string label, string path)
        {
            Icon = icon;
            Label = label;
            Path = path;
        }
    }

    private IEnumerable<MenuItem> MenuItems = new List<MenuItem>()
    {
        // new(CustomIcons.Home, "Home", "/"),
        new(CustomIcons.Corporate, "Corporate", "/corporate"),
        new(CustomIcons.MetalMart, "Metal Mart", "/metalmart"),
        new(CustomIcons.ServiceCenter, "Service Center", "/servicecenter"),
        new(CustomIcons.Plant, "Plant", "/plant")
    };


    private List<FooterNav.FooterItem> FooterNav = new()
    {
        // new(CustomIcons.Home, "Home", "/"),
        new(CustomIcons.Corporate, "Corporate", "/corporate"),
        new(CustomIcons.MetalMart, "Metal Mart", "/metalmart"),
        new(CustomIcons.ServiceCenter, "Service Center", "/servicecenter"),
        new(CustomIcons.Plant, "Plant", "/plant")
    };

    

    
}